# =========================
# Benchmarking Payloads
# =========================
workloads/single_step/mock_fs_payload/
workloads/single_step/mock_db_payload.db


# =========================
# Python & Environment
# =========================
__pycache__/
*.pyc
.env